<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZJLazgAuKWEzAngLU7RDQw-m4jscWmPU</string>
	<key>GCM_SENDER_ID</key>
	<string>5122747994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehsanApp.InstagramSwiftUl</string>
	<key>PROJECT_ID</key>
	<string>instagramiphoneclone</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramiphoneclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5122747994:ios:5bc0e14c1ab66c0aa33263</string>
</dict>
</plist>